
{
	margin-top: 10px; font-size: 30PX; margin-left: 250Px; color:white;

}
.b
{
	margin-top: -40px; font-size: 30PX; margin-left: 250px; color:white;

}
.c
{
	margin-top: 10px; font-size: 30PX; margin-left: 250Px; color: white;	

}
.d
{
margin-top: 10px; font-size: 30PX; margin-left: 250Px; color: white;	

}
.e
{
margin-top:  10px; font-size: 30PX; margin-left: 250Px; color: white;	

}

 	.l{
	margin-left: 250px; margin-top: -90px; font-size: 30px; color: white;
}
.ff{margin-left: 100px;padding-top: 50px;}
.kk{
	background-color: #888888;
	border-radius: 5%;
	height: 500px;
	width: 1000px;
	margin-left: 1000px;
	margin-top: 500px;
	border-radius: 50px;

}
.pp{padding-left: 300px; padding-bottom: 500px;}

.m
{ 
background-color: #537460
  margin-left: 100px
	height: 500px;
	wi
}


